*~
*/*~
*/*/*~
*/*/*/*~
*/*/*/*/*~
erl_crash.dump
*/erl_crash.dump
*/*/erl_crash.dump
*/*/*/erl_crash.dump
*/ebin
*/test/*.beam
*/src/*.beam
*/.eunit
rel/dk_bench/
inc_app/rel/
inc_app/apps/inc/ebin/
inc_app/apps/inc/log/
deps/
inc_app/rel/
cmt.txt
