%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 et
{sub_dirs, ["apps/inc", "rel"]}.

{erl_opts, [
            {parse_transform, lager_transform},
            debug_info, warnings_as_errors
           ]}.

{deps, [
        {lager, "0.9.4", {git, "git://github.com/basho/lager.git", {tag, "0.9.4"}}}
       ]}.
