{sys,
 [
  {lib_dirs, [ "../", "../.." ]},
  {rel, "dk_bench", "0.0.1",
   [
    kernel, stdlib, sasl, gs, appmon,
    %% dk_bench,
    mq_speed
   ]},
  {rel, "start_clean", "", [ kernel, stdlib ]},
  {boot_rel, "dk_bench"},
  {profile, embedded},
  {excl_sys_filters, ["^bin/.*",
                      "^erts.*/bin/(dialyzer|typer)"]},
  {excl_archive_filters, [".*"]},

  %% Artifact of having tsung installed in $ERL_TOP
  {app, tsung,            [{incl_cond, exclude}]},
  {app, tsung_recorder,   [{incl_cond, exclude}]},
  {app, tsung_controller, [{incl_cond, exclude}]},

  {app, mq_speed, [{incl_cond, include}]},
  {app, sasl, [{incl_cond, include}]}
 ]}.

{target_dir, "dk_bench"}.

{overlay,
 [
  {mkdir, "log/sasl"},
  {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
  {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
  {copy, "files/dk_bench", "bin/dk_bench"},
  {copy, "files/app.config", "etc/app.config"},
  {copy, "files/vm.args", "etc/vm.args"}
 ]}.
